
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery滑动分步式进度导航条代码</title>
<link rel="stylesheet" href="css/control.css" type="text/css" />
</head>
<body>
<div id="stepBar" class="ui-stepBar-wrap">
	<div class="ui-stepBar">
		<div class="ui-stepProcess"></div>
	</div>
	<div class="ui-stepInfo-wrap">
		<table class="ui-stepLayout" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">1</a>
					<p class="ui-stepName">注册</p>
				</td>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">2</a>
					<p class="ui-stepName">填写验证信息</p>
				</td>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">3</a>
					<p class="ui-stepName">填写基本信息</p>
				</td>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">4</a>
					<p class="ui-stepName">填写安全信息</p>
				</td>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">5</a>
					<p class="ui-stepName">激活账户</p>
				</td>
				<td class="ui-stepInfo">
					<a class="ui-stepSequence">6</a>
					<p class="ui-stepName">完成注册</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/stepBar.js"></script>
<script type="text/javascript">
$(function(){
	stepBar.init("stepBar", {
		step : 4,
		change : true,
		animation : true
	});
});
</script>
</body>
</html>
